<h1>Editing User</h1>

<%= render 'form', user: @user %>

<section class="btn-group" role="group">
  <%= link_to 'Show', @user, class: 'btn btn-outline-dark' %>
  <%= link_to 'Back', users_path, class: 'btn btn-outline-dark' %>
</section>
